@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

:root {
	--dark-color-a: black;
	--dark-color-b: #8becb3;
	--light-color: #e6e9ff;
	--success-color: #5cb85c;
	--error-color: #d9534f;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	background: var(--light-color);
	margin: 20px;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

.btn {
	cursor: pointer;
	padding: 5px 15px;
	background: var(--light-color);
	color: var(--dark-color-a);
	border: 0;
	font-size: 17px;
	background-color: rgb(199, 104, 104);
	color:rgb(255, 255, 255);
}
.btn:hover{
	background-color: brown;
	color:cornflowerblue;
}

/* Chat Page */

.chat-container {
	max-width: 1100px;
	background: #fff;
	margin: 30px auto;
	overflow: hidden;
}

.chat-header {
	background: var(--dark-color-a);
	color: #fff;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	padding: 15px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.chat-main {
	display: grid;
	grid-template-columns: 1fr 3fr;
}

.chat-sidebar {
	background: var(--dark-color-b);
	color: #fff;
	padding: 20px 20px 60px;
	overflow-y: scroll;
}

.chat-sidebar h2 {
	color:rgb(0, 0, 0);
	text-align: center;
	background-color: rgb(209, 184, 184);
}

.chat-sidebar h2:hover {
	color:white;
	text-align: center;
	background-color: rgb(121, 48, 48);
}

.chat-sidebar h3 {
	margin-bottom: 15px;
	color:black;
	size: 10em;
}
.chat-sidebar ul {
	background: var(--dark-color-b);
	
}
.chat-sidebar ul li {
	border:black 1px solid;
	padding: 10px 0;
	color:rgb(0, 0, 0);
	text-align: center;
	background-color: rgb(209, 184, 184);
	
}
.chat-sidebar ul li:hover {
	border:black 1px solid;
	padding: 10px 0;
	color:white;
	text-align: center;
	background-color: rgb(121, 48, 48);
	
}

.chat-messages {
	padding: 30px;
	max-height: 500px;
	overflow-y: scroll;
	
	
}

.chat-messages .message {
	padding: 10px;
	color:black;
	margin-bottom: 15px;
	background-color: var(--light-color);
	border-radius: 5px;
	overflow-wrap: break-word;
}

.chat-messages .message .meta {
	font-size: 15px;
	font-weight: bold;
	color: var(--dark-color-b);
	opacity: 0.7;
	margin-bottom: 7px;
	color:red;
}

.chat-messages .message .meta span {
	color: rgb(0, 0, 0);
}

.chat-form-container {
	padding: 20px 30px;
	background-color: var(--dark-color-a);
}

.chat-form-container form {
	display: flex;
}

.chat-form-container input[type='text'] {
	font-size: 16px;
	padding: 5px;
	height: 40px;
	flex: 1;
}

/* Join Page */
.join-container {
	max-width: 500px;
	margin: 80px auto;
	color: #fff;
}

.join-header {
	text-align: center;
	padding: 20px;
	background: var(--dark-color-a);
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.join-main {
	padding: 30px 40px;
	background: var(--dark-color-b);
}

.join-main p {
	margin-bottom: 20px;
}

.join-main .form-control {
	margin-top: 1em;
	margin-bottom: 20px;
}

.join-main label {
	display: block;
	margin-bottom: 5px;
	color:black;
}

.join-main input[type='text'] {
	font-size: 16px;
	padding: 5px;
	height: 40px;
	width: 100%;
}

.join-main select {
	font-size: 16px;
	padding: 5px;
	height: 40px;
	width: 100%;
}

.join-main .btn {
	margin-top: 20px;
	width: 100%;
	background-color: black;
	color:white;
	
}
.join-main .btn:hover {
	background-color: brown;
	color:cornflowerblue;
	
}

@media (max-width: 700px) {
	.chat-main {
		display: block;
	}

	.chat-sidebar {
		display: none;
	}
}

#typePartie{
	margin-top: 1em;
	padding: 0.2em;
	display: flex;
	flex-direction: row;
}
#niveauJeu{
	margin-top: 1em;
	padding: 0.2em;
	display: flex;
	flex-direction: row;
}
span{
	color:black;
}
